.center {
    display: grid;
    display: -ms-grid;
    place-items: center;
    padding: 2rem 0;
    margin-top: 3rem;
}

.loading {
    font-size: 2rem;
    font-weight: bold;
    color: #131f22;
}

.btn {
    background-color: #131f22;
    color: #fff;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.farm-info {
    background-color: rgb(250, 250, 250);
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.farm-info h1 {
    margin-top: -0.25rem;
}

.flex {
    display: flex;
    gap: 0.85rem;
    flex-direction: row;
    align-items: flex-start;
}

.flex .farm-info {
    flex-basis: 200px;
}

.flex .farm-info {
    font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .flex .farm-info {
        flex-basis: auto;
    }

    .btn {
        font-size: 0.75rem;
    }
}
